.about__container {
    position: relative;
    top: 200px;
    left: 250px;
    height: 70vh;
    display: flex;
    flex-direction: row;
    width: 150vh;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: white;
}

.about__img-container {
    margin: 35px;
    img {
        width: 468px;
        height: 500px;
        text-align: center;
    }
}

.about__text-container {
    margin: 35px;

    button {
        margin: 25px 15px;
        display: inline-block;
        outline: 0;
        border: 0;
        cursor: pointer;
        transition: box-shadow 0.15s ease,transform 0.15s ease;
        will-change: box-shadow,transform;
        background: #FCFCFD;
        box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
        height: 48px;
        padding: 0 15px;
        font-size: 18px;
        border-radius: 6px;
        color: #36395a;
        transition: box-shadow 0.15s ease,transform 0.15s ease;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
            box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
            transform: translateY(-2px);
        }

        &:active {
            box-shadow: inset 0px 3px 7px #d6d6e7;
            transform: translateY(2px);
        }
        
    }
}

.about__text-detail {
    display: flex;
    background-color: #5a5d7e;
    color: white;
    border-radius: 35px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 145px;
}

.about__text-title {
    font-size: 60px;
    color: #36395a;
    margin: 25px 0 25px 0;
}

.about__text-subtitle {
    font-size: 25px;
}
